<div class="container">
  <h2>List of CPS</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>CPS Title</th>
      <th>Tasks</th>
      <th>Project Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Budget</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cps of cpsList">
      <td>{{ cps.nom }}</td>
      <td>{{ cps.tasks }}</td>
      <td>{{ cps.projectTitle }}</td>
      <td>{{ cps.startDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ cps.endDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ cps.budget }}</td>
    </tr>
    </tbody>
  </table>
</div>
